<%- include("../partials/header") %>

<center><h2>Product Filter</h2><hr></center>

<div class="container">
	<div class="coloumn">
		<div class="row">
			<center>
			<div class="col-md-6">
				<input type="checkbox" value="all" checked="checked" id="all" style="display:none">
				<div id="filters" style="line-height:30px;">
					<h4>Quantity Filter: </h4>
					<div style="float: left;">
						<h5>Filter in Grams </h5>
						<input type="checkbox" value="100g" id="100g">
						<label for="100g"> 100g</label>
						
						<input type="checkbox" value="200g" id="200g">
						<label for="200g"> 200g</label>
						
						<input type="checkbox" value="500g" id="500g">
						<label for="500g"> 500g</label>

						<input type="checkbox" value="1kg" id="1kg">
						<label for="1kg"> 1kg</label>
						
						<input type="checkbox" value="2kg" id="2kg">
						<label for="2kg"> 2kg</label>

						<input type="checkbox" value="5kg" id="5kg">
						<label for="5kg"> 5kg</label>

						<input type="checkbox" value="10kg" id="10kg">
						<label for="10kg"> 10kg</label>
						
						<h5>Filter in Litre </h5>
					
						<input type="checkbox" value="200ml" id="200ml">
						<label for="200ml"> 200ml</label>
						
						<input type="checkbox" value="500ml" id="500ml">
						<label for="500ml"> 500ml</label>

						<input type="checkbox" value="1kl" id="1l">
						<label for="1l"> 1l</label>

						<input type="checkbox" value="5l" id="5l">
						<label for="5l"> 5l</label>

						<input type="checkbox" value="10l" id="10l">
						<label for="10l"> 10l</label>
						
						<input type="checkbox" value="15l" id="15l">
						<label for="15l"> 15l</label>
					</div>
				</div>
			</div>
			</center>
			<center>
			<div class="col-md-6">
				<h4>Website Filter: </h4>
				<div>
					<select id="genre">
						<option value="all">All</option>
						<option value="Frendy" style="display:none"></option>
						<option value="JioMart">JioMart</option>
						<option value="Grofers">Grofers</option>
						<option value="Dmart">Dmart</option>
						<option value="DealShare">DealShare</option>
						<option value="Sanandsupermall">Sanandsupermall</option>
						<option value="MehsanaMart">MehsanaMart</option>
					</select>
				</div>
			</div>
			</center>
		</div>
	</div>
</div><hr>

<div class="coloumn">
	<div class="row">
		<div class="col-md-4">
			<center><h3>Frendy Price</h3><hr></center>
			<table class="table text-center">
				<thead>
					<tr>
						<th><center>Date</center></th>
						<th><center>Item</center></th>
						<th><center>Quantity</center></th>
						<th><center>Price</center></th>
					</tr>
				</thead>
				<tbody>
					<% itemsFre.forEach(function(item){ %>
				<tr>
					<td class="<%= item.Quantity %>"><center><%= item.Date %></center></td>
					<td class="<%= item.Quantity %>"><center><%= item.Item %></center></td>
					<td class="<%= item.Quantity %>"><center><%= item.Quantity %></center></td>
					<td class="<%= item.Quantity %>"><center><%= item.Price %></center></td>
				</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
		<div class="col-md-8">
			<center><h3>Others Price</h3><hr></center>
			<table class="table text-center">
				<thead>
					<tr>
						<th><center>Date</center></th>
						<th><center>Website</center></th>
						<th><center>Item</center></th>
						<th><center>Quantity</center></th>
						<th><center>Price</center></th>
					</tr>
				</thead>
				<tbody>
					<% itemsOth.forEach(function(item){ %>
				<tr>
					<td class="category <%= item.Website %> <%= item.Quantity %> all"><center><%= item.Date %></center></td>
					<td class="category <%= item.Website %> <%= item.Quantity %> all"><center><%= item.Website %></center></td>
					<td class="category <%= item.Website %> <%= item.Quantity %> all"><center><%= item.Item %></center></td>
					<td class="category <%= item.Website %> <%= item.Quantity %> all"><center><%= item.Quantity %></center></td>
					<td class="category <%= item.Website %> <%= item.Quantity %> all"><center><%= item.Price %></center></td>
				</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="container">
	<center>
	<% if(noMatch !== null) { %>
		<h3><%= noMatch %></h3>
		<form action="/grocery" method="GET" class="form-inline">
		<div class="form-group">
			<input type="text" name="search" placeholder="Grocery search..." class="form-control">
			<input type="text" name="date" placeholder="dd-mm-yyyy" class="form-control">
			<input type="submit" class="btn btn-default">
		</div>
	</form>
	<% } %>
</center>
</div>

<%- include("../partials/footer") %>