<%- include("../partials/header") %>

<center><h2>Product Filter</h2></center>

<div class="container">
	<center>
	<form action="/grocery" method="GET" class="form-inline">
		<div class="form-group">
			<input type="text" name="search" placeholder="Grocery search..." class="form-control">
			<input type="date" name="date" class="form-control">
			<input type="submit" class="btn btn-default">
		</div>
	</form>
	</center>
</div><hr>

<div class="coloumn">
	<div class="row">
		<center>
		<div class="col-md-4">
			<label for="Frendy_Weight">Frendy Weight: </label>
			<select id="fweight" name="Frendy_Weight">
				<option value="all_frendy">All</option>
				<option value="100g" >100g</option>
				<option value="200g">200g</option>
				<option value="500g">500g</option>
				<option value="1kg">1kg</option>
				<option value="2kg">2kg</option>
				<option value="5kg">5kg</option>
				<option value="10kg">10kg</option>
			</select><br><br>
			<label for="Frendy_Volume">Frendy Volume: </label>
			<select id="fvolume"  name="Frendy_Volume">
				<option value="all_frendy">All</option>
				<option value="100ml">100ml</option>
				<option value="200ml" >200ml</option>
				<option value="500ml">500ml</option>
				<option value="1l">1l</option>
				<option value="5l">5l</option>
				<option value="10l">10l</option>
				<option value="15l">15l</option>
			</select>
		</div>
		</center>
		<div class="col-md-8">
			<center>
			<div class="col-md-5">
				<label for="others_weight">Weight Filter: </label>
				<select name="others_weight" id="oweight">
					<option value="all_others">All</option>
					<option value="100g" >100g</option>
					<option value="200g">200g</option>
					<option value="500g">500g</option>
					<option value="1kg">1kg</option>
					<option value="2kg">2kg</option>
					<option value="5kg">5kg</option>
					<option value="10kg">10kg</option>
				</select><br><br>
				<label for="others_volume">Voulme Filter: </label>
				<select name="others_volume" id="ovolume">
					<option value="all_others">All</option>
					<option value="100ml">100ml</option>
					<option value="200ml" >200ml</option>
					<option value="500ml">500ml</option>
					<option value="1l">1l</option>
					<option value="5l">5l</option>
					<option value="10l">10l</option>
					<option value="15l">15l</option>
				</select>
			</div></center>
			<center>
			<div class="col-md-3">
				<label for="site">Website Filter: </label>
				<select name="site" id="site">
					<option value="all_others">All</option>
					<option value="Frendy" style="display:none"></option>
					<option value="JioMart">JioMart</option>
					<option value="Grofers">Grofers</option>
					<option value="Dmart">Dmart</option>
					<option value="DealShare">DealShare</option>
					<option value="Sanandsupermall">Sanandsupermall</option>
					<option value="MehsanaMart">MehsanaMart</option>
				</select>
			</div>
			</center>
		</div>
	</div>
</div>
<hr>

<div class="coloumn">
	<div class="row">
		<div class="col-md-4">
			<center><h3>Frendy Price</h3><hr></center>
			<table class="table text-center">
				<thead>
					<tr>
						<th><center>Date</center></th>
						<th><center>Item</center></th>
						<th><center>Quantity</center></th>
						<th><center>Price</center></th>
					</tr>
				</thead>
				<tbody>
					<% itemsFre.forEach(function(item){ %>
				<tr>
					<td class="fquantity <%= item.Quantity %> all_frendy"><center><%= item.Date %></center></td>
					<td class="fquantity <%= item.Quantity %> all_frendy"><center><%= item.Item %></center></td>
					<td class="fquantity <%= item.Quantity %> all_frendy"><center><%= item.Quantity %></center></td>
					<td class="fquantity <%= item.Quantity %> all_frendy"><center><%= item.Price %></center></td>
				</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
		<div class="col-md-8">
			<center><h3>Others Price</h3><hr></center>
			<table class="table text-center">
				<thead>
					<tr>
						<th><center>Date</center></th>
						<th><center>Website</center></th>
						<th><center>Item</center></th>
						<th><center>Quantity</center></th>
						<th><center>Price</center></th>
					</tr>
				</thead>
				<tbody>
					<% itemsOth.forEach(function(item){ %>
				<tr>
					<td class="category <%= item.Website %> <%= item.Quantity %> all_others"><center><%= item.Date %></center></td>
					<td class="category <%= item.Website %> <%= item.Quantity %> all_others"><center><%= item.Website %></center></td>
					<td class="category <%= item.Website %> <%= item.Quantity %> all_others"><center><%= item.Item %></center></td>
					<td class="category <%= item.Website %> <%= item.Quantity %> all_others"><center><%= item.Quantity %></center></td>
					<td class="category <%= item.Website %> <%= item.Quantity %> all_others"><center><%= item.Price %></center></td>
				</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="container">
	<center>
	<% if(noMatch !== null) { %>
		<h3><%= noMatch %></h3>
	<% } %>
</center>
</div>

<%- include("../partials/footer") %>